.color {
  background-color: #F7F6F2;
}

footer {
  background-color: #F7F6F2;
}

.dropdown-menu {
    left: 50% !important;
    margin-left: -70px;
}

/*img {
  text-align: center;
}*/

.centerOptions {
  padding: 20% 0;

  margin: auto;
}

.picker-button {
    width: 120px;
    height: 120px;
    float: left;
    margin: 10px;
    cursor: pointer;
    color: gray;
}

.vidButton {
  width: 440px;
}

img {
  height: 400px;
  width: 400px;
}

ul li {
  font-weight: bold;
}

#flexIt {
  height: 300px;
  width: 300px;

  position: absolute;

  margin: -150px 0 0 -150px;
  left: 50%;
  top: 75%;
}

.buttons {
  max-width: 50%;
  position: absolute;
  margin: -50px 0 0 -50px;
 left: 50%;
 top: 50%;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.w100 {
  width: 100%;
}

.w50[seamless] {
  width: 50%;
  display: block;
  margin: 0;
}

.org {
  display: block;
}

/*iframe[seamless] {
    display: inline-flex;
}*/

.video {
  float: left;
}


/*.btn-primary {
  background: #952b2b;
  border-color: #957575;
 }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #782b2b;
  border-color: #952b2b;
}*/

/**********Nav Bar ****************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
