


  <div id="loader"></div>
    <div id="myDiv" style="display:none;" >
        <h1> FAVS </h1>
        <div ng-repeat="vid in favs.favId track by $index">
            <div class='video'>
                <iframe style="display:block" width="440" height="260" ng-src="{{ vid | youtubeEmbedUrl }}" frameborder="0" allowfullscreen></iframe>
                <button class='vidButton btn-primary' ng-click="favs.deleteVid(vid)"> CLICK </button>
            </div>
        </div>
      </div>
      </div>
