<h1><div class='loginText'> Workout Anywhere - Anytime. </div></h1>
<br/><br/><br/>



<!-- <img class='workoutStuff' src ="../media/philgeb_illusration_2A.png" alt="Login Page Image" style="width:100%;height:100%"> -->
<div id='flexIt'>

  <img src ="../media/philgebsmallweights.png" alt="Login Page Image" style="width:50%;height:50%">


  <br/><br/><br/>

    <div class='buttons'>
        <button ng-click="log.logIn()"> Log In </button>

        <button ng-click="log.logOut()"> Log out </button>


    </div>


</div>
