<div class = 'centerOptions'>
<div class="text-center">

  <h1> Pick some options </h1>
  <br/>
  <span class="custom-dropdown custom-dropdown--emerald custom-dropdown--large ">
    <select name="option1" class="custom-dropdown__select custom-dropdown__select--emerald" ng-model="options.newOption.type">
      <option value="CrossFit">CrossFit</option>
      <option value="Zumba">Zumba</option>
      <option value="Yoga">Yoga</option>
      <option value="Spin">Spin</option>
      <option value="Pilates">Pilates</option>
      <option value="Dance">Dance</option>
      <option value="Body Weight">Body Weight</option>
      <option value="Free Weights">Free Weights</option>
      <option value="Full Body">Full Body</option>

    </select>
    </span>


    <br/><br/><br/><br/>



      <span class="custom-dropdown custom-dropdown--emerald custom-dropdown--large ">
        <select name="option2" class="custom-dropdown__select custom-dropdown__select--emerald" ng-model="options.newOption.workout">
          <option value="Legs">Legs</option>
          <option value="Upper Body">Upper Body</option>
          <option value="Arms">Arms</option>
          <option value="Core">Core</option>
          <option value="Abs">Abs</option>

        </select>
        </span>
        <br /><br/><br/><br/><br/>
        <button class="btn btn-primary" ng-click="options.addOption()">Add</button>
        <button><a href="#youtubeResults">Results</a></button>
</div>
</div>
