
<div class="text-center">
  <div class="container ">
    <h2>Workout Type</h2>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Temp<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">CrossFit</a></li>
        <li><a href="#">Zumba</a></li>
        <li><a href="#">more stuff</a></li>
        <li><a href="#">even more stuff</a></li>
      </ul>
    </div>
  </div>



  <div class="container">
    <h2>Type</h2>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Temp<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">CrossFit</a></li>
        <li><a href="#">Zumba</a></li>
        <li><a href="#">more stuff</a></li>
        <li><a href="#">even more stuff</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
