<div class='container'>
    <div class="col-md-offset-3 col-md-3 flex">
        <div class='picker-button'>vidHere</div>
        <div class='picker-button'>vidHere</div>
        <div class='picker-button'>vidHere</div>
    </div>
    <div class="col-md-3 flex">
        <div class='picker-button'>vidHere</div>
        <div class='picker-button'>vidHere</div>
        <div class='picker-button'>vidHere</div>
    </div>
    <div class="col-md-3 flex">
        <div class='picker-button'>vidHere</div>
        <div class='picker-button'>vidHere</div>
        <div class='picker-button'>vidHere</div>
    </div>
</div>
